<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page </title>
</head>
<body>

    <h1>To login  click here: <a href="login">Login</a></h1>
    <h1>To Sign Up  click here: <a href="signup">sign Up</a></h1>
</body>
</html>