<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENIGMA</title>
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="homePage.css">
</head>
<body>
<header>
    <a href="#" class="logo">ENIGMA</a>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="login">Log In</a>
        <a href="signup">Sign Up</a>
    </nav>
</header>
<section class="main">
    <div class="text-container">
        <h1>Hello Im Enigma</h1>
        <h3>How can I help you?</h3>
        <h2>
            Enigma is an all-in-one AI assistant equipped with the most advanced AI models (GPT-4, Claude, Gemini, etc.)<br>
            to help you Chat, Search, Write, Translate and more.<br>
            It also offers tools for image, video, and PDF processing.
        </h2>
    </div>
    <div class="container">
        <button class="my-button"> <i class="fab fa-chrome"></i> Add to Chrome </button>
        <div class="icon">
            <i class="fab fa-apple"></i>
            <i class="fab fa-windows"></i>
            <i class="fab fa-android"></i>
            <i class="fab fa-edge"></i>
            <i class="fab fa-chrome"></i>
        </div>
    </div>
</section>
</body>
</html>
